<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="testData" class="com.techandsolve.atm.core.TestData">
		<property name="accounts">
			<list>
				<bean class="com.techandsolve.atm.core.Account">
					<property name="number" value="1234567890"/>
					<property name="balance" value="1000.0"/>
					<property name="active" value="true"/>
				</bean>
			</list>
		</property>
	</bean>
      
        
</beans>